<!DOCTYPE html>
<html>
  <head>
    <title>MySecret</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "mysecret", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div align="center">
    <h1>MySecret</h1>
    </div>
  </body>
</html>
