/* MySecret Color Pallet | lighter to darker* 
  /* #ff0000 	(255,0,0) */
	/* #bf0000 	(191,0,0) */
	/* #800000 	(128,0,0) */
	/* #400000 	(64,0,0) */
	/* #000000 	(0,0,0) */

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body {
  background-color: #400000;
  font-family: 'Signika Negative', sans-serif;
}

h1 {
  color: #7a1045;
}
